@font-face {
    font-display: swap;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('font/RobotoSlab-Regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 800;
    src: url('font/RobotoSlab-ExtraBold.woff2') format('woff2');
}

/* GENERAL */

:root {
    --primary-color: hsl(225deg, 15%, 15%);
    --secondary-color: hsl(225deg, 25%, 20%);
    --primary-bg-color: hsl(225deg, 16%, 90%);
    --secondary-bg-color: hsl(0deg, 0%, 93%);
    --secondary-bg-color-tr: hsl(255deg, 100%, 100%, 0.8);
    --hover-color: hsl(199deg, 33%, 35%);
    --font-weight: 800;
}

:root.dark-theme {
    --primary-color: hsl(225deg, 16%, 90%);
    --secondary-color: hsl(225deg, 8%, 80%);
    --primary-bg-color: hsl(210deg, 33%, 9.5%);
    --secondary-bg-color: hsl(0deg, 0%, 25%);
    --secondary-bg-color-tr: hsl(0deg, 0%, 0%, 0.8);
    --hover-color: hsl(0deg, 0, 93%);
    --font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    display: grid;
    font-family: 'Roboto Slab', 'Times New Roman', 'Georgia', 'Garamond', serif;
    grid-template-columns: 1fr;
    padding-inline: 20vw;
}

h1,h2,h3 {
    font-weight: var(--font-weight);
}

ul {
    list-style: none;
}

a,p,span {
    color: var(--secondary-color);
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--hover-color);
}

img {
    display: block;
    height: auto;
    width: 100%;
}

/* UTILITIES */

.flex {
    display: flex;
}

.mb-24 {
    margin-bottom: 24px;
}

.flex-sp-between {
    justify-content: space-between;
}

.ds-inline-block {
    display: inline-block;
}

/* HEADER/NAVBAR */

.navbar {
    padding-block: 16px;
}

.logo {
    font-size: 20px;
    font-weight: var(--font-weight);
    transition: color 0.4s ease;
}

.nav-links a {
    font-weight: var(--font-weight);
    padding-inline: 20px;
    transition: color 0.4s ease;
}

.theme-activate {
    background-color: var(--theme-background-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='21' viewBox='0 -960 960 960' width='21' fill='%23262d40'%3E%3Cpath d='M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Zm0-80q88 0 158-48.5T740-375q-20 5-40 8t-40 3q-123 0-209.5-86.5T364-660q0-20 3-40t8-40q-78 32-126.5 102T200-480q0 116 82 198t198 82Zm-10-270Z'/%3E%3C/svg%3E");
    border-width: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 21px;
    padding-block: 0;
    padding-inline: 0;
    width: 21px;
}

.theme-activate.activated {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='21' viewBox='0 -960 960 960' width='21' fill='%23c8cad0'%3E%3Cpath d='M480-360q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Zm0 80q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM80-440q-17 0-28.5-11.5T40-480q0-17 11.5-28.5T80-520h80q17 0 28.5 11.5T200-480q0 17-11.5 28.5T160-440H80Zm720 0q-17 0-28.5-11.5T760-480q0-17 11.5-28.5T800-520h80q17 0 28.5 11.5T920-480q0 17-11.5 28.5T880-440h-80ZM480-760q-17 0-28.5-11.5T440-800v-80q0-17 11.5-28.5T480-920q17 0 28.5 11.5T520-880v80q0 17-11.5 28.5T480-760Zm0 720q-17 0-28.5-11.5T440-80v-80q0-17 11.5-28.5T480-200q17 0 28.5 11.5T520-160v80q0 17-11.5 28.5T480-40ZM226-678l-43-42q-12-11-11.5-28t11.5-29q12-12 29-12t28 12l42 43q11 12 11 28t-11 28q-11 12-27.5 11.5T226-678Zm494 495-42-43q-11-12-11-28.5t11-27.5q11-12 27.5-11.5T734-282l43 42q12 11 11.5 28T777-183q-12 12-29 12t-28-12Zm-42-495q-12-11-11.5-27.5T678-734l42-43q11-12 28-11.5t29 11.5q12 12 12 29t-12 28l-43 42q-12 11-28 11t-28-11ZM183-183q-12-12-12-29t12-28l43-42q12-11 28.5-11t27.5 11q12 11 11.5 27.5T282-226l-42 43q-11 12-28 11.5T183-183Zm297-297Z'/%3E%3C/svg%3E");
}

/* HERO */
.hero {
    height: calc(100vh - 58px);
    padding-top: 128px;
}

.about-description {
    flex-basis: 50%;
}

.about-description h1 {
    font-size: 30px;
    margin: 24px 0;
}

.about-description span {
    font-size: 14px;
    font-weight: var(--font-weight);
    letter-spacing: 0.2px;
}

.about-description p {
    font-size: 18px;
    line-height: 1.5;
}

.btn-download {
    background-color: var(--secondary-bg-color);
    border-radius: 50px;
    display: inline-block;
    font-size: 14px;
    font-weight: var(--font-weight);
    padding: 14px 30px;
    transition: color 0.4s ease;
}

.icon-download {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%2337474f'%3E%3Cpath d='M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z'/%3E%3C/svg%3E");
    background-size: cover;
    height: 19px;
    margin-right: 3px;
    vertical-align: bottom;
    width: 19px;
}

.dark-theme .icon-download {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%23c8cad0'%3E%3Cpath d='M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z'/%3E%3C/svg%3E");
}

.hero picture {
    padding-top: 100px;
    width: 350px;
}

/* PORTFOLIO */

.portfolio {
    align-items: center;
    flex-direction: column;
}

.portfolio-item {
    position: relative;
}

.portfolio-item p {
    background: var(--secondary-bg-color-tr);
    border-radius: 5px;
    bottom: 50px;
    left: 50%;
    padding: 40px 20px;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    width: 70%;
}

.portfolio-item picture {
    display: inline-block;
}

/* RESUME */

.resume {
    flex-direction: column;
    margin-inline: auto;
    width: 900px;
}

.resume h2 {
    text-align: center;
}

.year {
    border-bottom: 1px solid var(--primary-color);
    font-size: 24px;
    font-weight: var(--font-weight);
}

.resume h3 {
    margin-block: 12px;
}

/* CONTACTS */

.contacts {
    flex-wrap: wrap;
    margin-inline: auto;
    padding-block: 40px;
    width: 900px;
}

.contacts address {
    display: flex;
    flex-direction: column;
    font-style: normal;
}

address a, .contacts ul a {
    display: inline-block;
    margin-block: 8px;
}

.contacts p {
    flex-basis: 100%;
    padding-top: 12px;
    text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 480px) {
    body {
        padding-inline: 20px;
    }

    .navbar {
        align-items: center;
        flex-direction: column;
        gap: 4px;
    }

    .nav-links {
        align-items: end;
    }

    .nav-links a {
        font-size: 20px;
        padding-inline: 4px;
    }

    .theme-activate {
        vertical-align: bottom;
    }

    .hero {
        flex-direction: column;
        height: calc(100vh - 88px);
        padding-top: 20px;
    }

    .hero h1 {
        margin-block: 16px;
    }

    .hero picture {
        display: none;
    }

    .about-description {
        display: flex;
        flex-direction: column;
    }

    .btn-download {
        margin-inline: auto;
    }

    .portfolio h2 {
        text-align: center;
    }

    .portfolio-item p {
        bottom: 35px;
        font-size: 14px;
        padding: 20px 10px;
    }

    .resume, .contacts {
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding-inline: 40px;
    }

    .nav-links a {
        font-size: 20px;
    }

    .theme-activate {
        vertical-align: middle;
    }

    .hero {
        align-items: center;
        flex-direction: column;
        height: 100vh;
        justify-content: flex-start;
        padding-top: 60px;
    }

    .hero .about-description {
        flex-basis: auto;
    }

    .hero picture {
        width: 350px;
    }

    .resume, .contacts {
        width: auto;
    }
}

@media screen and (max-width: 1024px) {
    body {
        padding-inline: 60px;
    }
}

@media screen and (max-width: 1280px) {
    body {
        padding-inline: 100px;
    }
}